body{
    margin: 0px;
    height: 100vh;
}
.header{
    background-color: #222222;
    padding-bottom:10px ;
}
#head{
    display:flex;
    justify-content: space-between;
}
i{
    font-size: 50px;
   
}
.navbar{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 1.2em;
    padding-top: 40px;
    padding-right: 80px;
     font-family: Arial, Helvetica, sans-serif;
}
.navbar a{
   color: rgb(206, 206, 206);
   text-decoration:none ;
   padding-left: 50px; 
}
.navbar a:hover{
    color: white;
}
#header-logo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    order:-1;
    padding-top: 40px;
    padding-left: 80px;
    font-size: 1.3em;
    font-weight: bold;
}
#main-head{
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    
    
}
#title{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5em;
    margin: 0px;
    
}
#title p{
    margin: 0px;
    font-size: 1.5em;
    color: #a9a9a9;
    font-family: Arial, Helvetica, sans-serif;
}
#button1{
    height: 55px;
    width: 150px;
    margin-top: 20px;
    margin-left:2px;
    border-radius: 5px;
    background-color: #c59c51 ;
}
#button1 a{
    display: flex;
    justify-content: center;
    padding-top: 16px;
    font-weight: bold;
    font-size: 18px;
    color: #311d10;
    text-decoration:none ;
    font-family: Arial, Helvetica, sans-serif;
}
#button1:hover{
    background-color: #ffffff;
}
#button1:hover a{
    
}
#main-img {
    display: flex;
    justify-content: center;
    margin-left:10px ;
    width: 50%;
}
#main-img img{
    width: 80%;
    height: auto;
}

.info{
    
}
#info-text{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 2.2em;
    padding-bottom: 40px;
}
#box-container{
    display:flex;
    justify-content: center;
    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width:300px;
    margin: 10px;
}
.box-img img{
    border: 5px #422716 solid;
    border-radius: 5px;
    width: 250px;
    height: auto;
    margin: 0px 20px 5px 20px;
    padding: 0px;
}
.box-text h2{
    text-align: center;
    font-family:"Noto Rashi Hebrew",Arial, Helvetica, sans-serif
}
.box-text p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.quote{
    height: 20vh;
    background-color: #c4c4c5;   
}
.call{
    height: 20vh;
       
}
.footer{
    height: 10vh;
    background-color: #222222;   
}